.item{
    background-color: #FDE5D4;
    border-radius: 5px;
    color: #445D48;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1fr 1fr repeat(3, 30px);
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.itemTitulo {
    font-weight: bold;
    border-bottom: solid 0.2px #8faf95;
}

.itemTituloDescricao{
  grid-column: 2;
}

.itemData, .itemDescricao, .itemBotao{
  grid-row: 2;
}

.itemDescricao{ 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.itemBotao:hover {
  cursor: pointer;
}

@media screen and (max-width: 319px) {
  .item {
    grid-template-rows: 3;
    grid-template-columns: auto auto auto;
  }
  
  .itemBotao{
    grid-row: 3;    
  }
}