.App {
  display: flex;
  flex-direction: column;
  background-color: #001524;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 32px);
  min-width: 320px;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
}

.alerts {  
  margin-top: 5rem;
  width: 80%;
  height: 2rem;
  transition: opacity 0.5s ease-in-out 0.2s;
}
